.service-page {
    padding: 20px;
  }
  
  .action-buttons {
    display: flex;
    gap: 10px;
  
    .detail-btn {
      background-color: #1890ff;
      color: white;
      font-weight: 600;
      border-radius: 6px;
      transition: 0.3s;
      &:hover {
        background-color: #40a9ff;
      }
    }
  
    .hide-btn {
      background-color: #ff4d4f;
      color: white;
      font-weight: 600;
      border-radius: 6px;
      transition: 0.3s;
      &:hover {
        background-color: #ff7875;
      }
    }
  }
  
  .service-detail {
    h3 {
      color: #1890ff;
    }
    p {
      margin: 5px 0;
      font-size: 16px;
    }
  }
  .reply-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  
  .reply-btn {
    margin-left: auto; 
  }
  .feedback-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }